@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #27203f;
  color: #e9f0f9;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  margin: 0 0 0.2em;
}

h1 {
  font-size: 32px;
}

p {
  margin: 0 0 0.33em;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: #6e60f9;
  text-decoration: none;
}

.img-circle {
    border-radius: 50%;
	height: 250px;
	width: 250px;   
}

.intro-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;  
  padding: 20px;

}

.intro {
  max-width: 50%;
}

.intro p {
  font-size: 24px;
  font-weight: 300;
}

.contact {
  font-size: 13px;
  font-weight: 400;
  list-style: none;
}

.contact > li {
  display: inline;
  margin-right: 12px;
}


@media (max-width: 800px) and (min-width: 481px) {
  .intro {
    max-width: 75%;
  }
}

@media (max-width: 480px) {
  .intro {
    max-width: inherit;
  }
}